DATABASE_URL = "postgresql+asyncpg://user:password@host/dbname"
ACCESS_TOKEN_EXPIRE_MINUTES = 15
SECRET_KEY = "super_scret_key"
ALGORITHM = "HS256"
SECRET_CRYPTO_KEY = "your-base64-encoded-key-here="

# AI-assistant
GIGA_CLIENT_ID = "your-giga-client-id"
GIGA_CLIENT_SECRET = "your-giga-client-secret"
GIGA_AUTH_KEY = "your-giga-auth-key"
